<!DOCTYPE HTML>
<html>
<head>
	<title>Link ACG---GAME ---EVE</title>
<link href="../css/bootstrap.css" rel='stylesheet' type='text/css' />
<script src="../js/jquery-1.11.0.min.js"></script>
<link href="../css/style.css" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="header">
	<div class="container">
		<span class="menu"></span>
		<div class="navigation">
			<ul class="navig cl-effect-3" >
				<li><a href="../index.html">游戏主页</a></li>
				<li><a href="../games.html">游戏公司</a></li>
				<li><a href="../blog.html">游戏主机</a></li>
				<li><a href="../features.html">著名游戏</a></li>
			</ul>
			<div class="search-bar">
					<input type="text" placeholder="search" required=""  value="search"/>
					<input type="submit" value="" />
			</div>
			<script>
				$( "span.menu" ).click(function() {
				  $( ".navigation" ).slideToggle( "slow", function() {
				    // Animation complete.
				  });
				});
			</script>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<div class="games">
	<div class="container">
		<div class="page-path">
			<ul class="path-list">
				<li><a href="../index.html">主页</a></li>&nbsp;&nbsp;/&nbsp;&nbsp;
				<li><a href="../features.html">著名游戏</a></li>&nbsp;&nbsp;/&nbsp;&nbsp;
				<li class="act">EVE</li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<h3 class="page-header">
			EVE
		</h3>
		<div class="blog-content">
			<div class="blog-post">
				<h3><a href="#">World of Warcraft</a></h3>
				<div class="post-details">
					<p>冰岛CCP公司</p>
				</div>
				<img src="images/blog1.jpg" alt="">

					<p>
						玩家驾驶各式宇宙飞船在成千上万的恒星系与未知虫洞空间中穿梭。在游戏的沙盒宇宙中能进行各式活动，包括采矿、工业制造 、科学研究 、金融贸易、探索考古以及PVP/PVE战斗等。 玩家可从事的活动类型随着相关技能的学习而递增，即使玩家没有上线，游戏中技能的学习也随时都在进行。
					</p>

				<p>
					《EVE Online》揽获包括GDC在内的众多世界游戏大奖，曾在欧美最著名游戏网站“MMORPG”中多次获得“世界最佳游戏”称号，其精妙绝伦的制作素质还使它被纽约现代艺术博物馆等知名展馆收录。出于沙盒理念，EVE将所有玩家集结于单个服务器内并且只设置世界服（宁静）与中国服（晨曦）。另外，为了实现空天地一体化作战而专门独立开发的《DUST 514》、《EVE：瓦尔基里》两款游戏将在近期配合《EVE Online》实现三位一体的战场联动。
				</p>
					游戏历史
				<p>28世纪：人类对太阳系的开发达到饱和阶段，开发重点投向附近的恒星系。</p>
				<p>37世纪初：太阳系内的最后一颗矮行星索科维提(Soekheviti)被开发完毕。通过漫长的星际航行，人类相继抵达太阳系附近的部分恒星系并开始小幅殖民。系统性的探索和改造在部分较远的周边恒星系中展开，为进一步的殖民计划打下基础。</p>
				<p>37世纪末：完成对曲速跃迁技术的开发，人类对周边星际空间的探索和殖民步伐大大加快。人类选择已经完成殖民化的数个恒星系作为跳板，利用曲速跃迁技术，大范围的扩张已经成为可能。</p>
				<p>43世纪：实用化的空间跳跃引擎被发明，雄心勃勃的人类向整个银河系全面进军。</p>
				<p>45~70世纪期间：人类的疆域逐渐覆盖整个银河系，生产力和文明进程大幅飞跃的黄金时代。</p>
				<p>70世纪以前：凭借成熟的虫洞建造技术，人类构筑起了遍布整个银河系的交通网络，这一复杂的系统渗透至银河系各个角落。由于无数个永久存在的人造虫洞将银河系内所有的区域都完整的连结起来，银河系内的航行变的极为迅速。</p>
				<p>70世纪以后：人类对银河系的开发逐渐接近饱和阶段，但对河外星系的进一步殖民难以展开。由于扩张步伐受挫，受困于银河系的人类文明从内部开始变的动荡和消沉起来。</p>
				<p>78世纪初：一个极其罕见的天然虫洞在位于船底座的老人星附近发现，并命名为EVE。该虫洞通向宇宙另一边的某个未知河外星系（EVE世界），天然虫洞通常转瞬即逝，即便是这种罕见的巨型虫洞也随时可能坍塌。人类决定在两个星系之间建造永久存在的人造虫洞。虫洞对面的恒星系被命名为新伊甸，人造虫洞则被命名为EVE之门。不久后：无须人类亲自介入的全自动化开发系统被送入该河外星系并展开了初步勘探，并在人类授意下开始着手建造EVE之门。</p>
				<p>79世纪末：人类通过科技手段维持着EVE虫洞的稳定，但是这一天然虫洞终于在频繁的利用过程中解体。此时作为替代的EVE之门已经进入建造末期，人类预计两个星系将在数十年内再次恢复联系。</p>
				<p>80世纪：EVE之门建成并开始运行，银河系与新伊甸星系被重新连接起来。</p>
				<p>公元7989年： 在领导者之一丹诺·格诺克(Dano Gheinok)的鼓动下，圣职者(The Conformists) 开始向EVE世界殖民。格诺克(Gheinok) 设法指引他们去一颗行星——阿提拉(Athra)（现艾玛首星）。来自Tau Ceti星系的民族买下了VH-451星系中的第二颗行星。</p>
				<p>公元7993年：一家巨型星际企业买下了VH-451星系中的第三颗行星，随后便开始了小规模殖民。</p>
				<p>公元8000年：丹诺·格诺克(Dano Gheinok) 作为先知为艾玛今后的神权统治初步奠定了基础。</p>
				<p>公元8017年：CMS-17星系被发现, 不久就重命名为帕多尔(Pator)(现米玛塔尔首都星系)。由于其主要行星—玛塔尔，非常适宜人类居住，所以这里很快就完成了殖民。</p>
				<p>公元8052年：在EVE之门关闭前，来自Tau-Ceti的最后一艘殖民船抵达EVE世界。</p>
				<p>公元8061年：最后一批圣职者抵达阿提拉(Athra)。所有的圣职者都定居在艾玛(Amarr/艾玛帝国)大陆, 这也是后来他们名称的由来。</p>
				<p>公元8061年：
					一场无法解释的灾难打破了位于银河系一端的EVE之门的运行，使其永久性失效。EVE世界与地球母文明失去联系。EVE之门崩溃后释放出巨额能量，导致临近恒星系解体，能量通过作为交通要道的人造虫洞继续蔓延至其他殖民地。不久后，位于EVE之门附近几乎所有完备的殖民地相继被摧毁。只有深入新伊甸星系的一些边远殖民地才得以幸免。而EVE之门周围极大范围内的星际空间都在此后相当漫长的一段岁月中变的异常不稳定，任何人都难以涉入其内。</p>
				<p>
					公元82世纪开始：
					EVE之门崩溃之后，新世界的殖民者们意识到他们完全被孤立了，幸存下来的偏僻的殖民地几乎都处在开发或是改造初期，这些位于星系深处的殖民地中鲜有能够自给自足的完备基础设施。很快规模较小的殖民地由于人手和设施以及补给极度匮乏，仅有的燃料也不足以进行远航，于是在孤立无援中相继灭亡。剩下的殖民地则因为缺乏与之对应的基础技术和彼此匹配的资源，在设施老化后，不得不退入完成改造的星球中。由于技术和原料之间的冲突，其科技知识慢慢退化，逐渐失去了星际航行能力。但有极个别殖民地垄断了来自银河系的宝贵燃料，并在渡过了一段最艰难的岁月后，发展成为独立的星际文明（塔洛迦、燕军等），成功的在新伊甸世界生存了下来。但它们不会想到，一切尝试归复地球文明的努力都将是徒劳。但至少它们的伟大创造，在万年之后将化身为后人眼中的古老遗迹，进而成为四大星际国家乃至玩家们一窥历史真相和地球遗留科技的唯一途径。
				</p>
			</div>
		</div>
		<div class="blog-sidebar">
			<h3 class="page-header">种族</h3>
			<ul class="product-categories color"><li class="cat-item cat-item-42"><a href="#">艾玛</a> </li>
				<li class="cat-item cat-item-60"><a href="#">加达里</a></li>
				<li class="cat-item cat-item-63"><a href="#">盖伦特</a></li>
				<li class="cat-item cat-item-54"><a href="#">米玛塔尔</a> </li>
				<li class="cat-item cat-item-55"><a href="#">朱庇特</a> </li>
			 </ul>
			<h3 class="page-header">属性</h3>
			<ul class="product-categories color"><li class="cat-item cat-item-42"><a href="#">智力</a> </li>
				<li class="cat-item cat-item-60"><a href="#">感知</a></li>
				<li class="cat-item cat-item-63"><a href="#">领导力</a></li>
				<li class="cat-item cat-item-54"><a href="#">意志力</a> </li>
				<li class="cat-item cat-item-55"><a href="#">记忆力</a> </li>
			</ul>
			<nav class="cl-effect-3" style="color: #0b0b0b"><a href="https://eve.tiancity.com/homepage/v7/index.html" style="color: #0b0b0b">前往EVE官网</a></nav>
		</div>
		<div class="clearfix"></div>
		
	</div>
</div>
</body>
</html>