<!DOCTYPE HTML>
<html>
<head>
	<title>Link ACG---GAME ---RainbowSix</title>
<link href="../css/bootstrap.css" rel='stylesheet' type='text/css' />
<script src="../js/jquery-1.11.0.min.js"></script>
<link href="../css/style.css" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="header">
	<div class="container">
		<span class="menu"></span>
		<div class="navigation">
			<ul class="navig cl-effect-3" >
				<li><a href="../index.html">游戏主页</a></li>
				<li><a href="../games.html">游戏公司</a></li>
				<li><a href="../blog.html">游戏主机</a></li>
				<li><a href="../features.html">著名游戏</a></li>
			</ul>
			<div class="search-bar">
					<input type="text" placeholder="search" required=""  value="search"/>
					<input type="submit" value="" />
			</div>
			<script>
				$( "span.menu" ).click(function() {
				  $( ".navigation" ).slideToggle( "slow", function() {
				    // Animation complete.
				  });
				});
			</script>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<div class="games">
	<div class="container">
		<div class="page-path">
			<ul class="path-list">
				<li><a href="../index.html">主页</a></li>&nbsp;&nbsp;/&nbsp;&nbsp;
				<li><a href="../features.html">著名游戏</a></li>&nbsp;&nbsp;/&nbsp;&nbsp;
				<li class="act">彩虹六号</li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<h3 class="page-header">
			彩虹六号：围攻
		</h3>
		<div class="blog-content">
			<div class="blog-post">
				<h3><a href="#">World of Warcraft</a></h3>
				<div class="post-details">
					<p>Ubisoft Entertainment</p>
				</div>
				鹰眼行动
					<p>	育碧多年制作与延期的《彩虹六号：爱国者》终于正式焕然一新，改名为《彩虹六号：围攻》与经典警匪多
						人合作游戏《SWAT》如出一辙，玩家扮演反恐组织进行一场反恐演习，反恐组织分为2队，进攻方和防守方，演示里我们操控的防守方，5v5，情节异常紧张，每个举动都影响人质是否能安全被救出，看来育碧已经把“爱国者”的设定完全抛弃了，如果你喜欢SWAT，那么这款游戏就是你的最爱。
					</p>
					<p>
						这是一场多人游戏的演示，玩家分成了两队，一队模拟绑架了某个可怜的女士，另一边的特警利用迷你摄像头侦察清楚了情况，开始了营救。本来都解决了防守队员，救出了女士，但却遭到了伏击。
					</p>
				<p>
					游戏全程都有语音交流，非常注重团队合作以及指挥，不像COD那样的横冲直撞。游戏的画面不算是顶级，但是破坏效果很出彩。</p>
				<p>
						本作正式名称为《彩虹六号：围攻（Rainbow Six：Siege)》，游戏将登陆Xbox One，PS4与PC平台，发售日2015年12月2日。</p>
				评价
				<p>《彩虹六号》（Rainbow six）应该属于第一人称射击游戏，但是，它又和一般意义上的第一人称射击游戏有所不同，更侧重于战术层次上的策略。在游戏中，你指挥着一支精锐的反恐怖小分队，在全世界履行着打击恐怖主义分子的神圣使命。</p>
				<p>	这款游戏最引人注目的特点就是极为逼真的模拟，无论是视觉上还是音效上都堪称一流。玩家仿若身临其境，手持微声突击步枪，身着各式作战服，戴着微光夜视仪，和战友们深入戒备森严的恐怖分子巢穴，体验一下在狭小的空间里搜索、击毙恐怖分子时的惊险以及安全救出人质取得胜利时的喜悦。</p>
				<p>	由于这个游戏的真实度较高，在人员选择、武器配备及行动路线上可有多种组合，所以玩起来比较复杂，许多玩家可能一时还不能完全掌握其要领和技巧，往往是全组阵亡或是行动被恐怖分子发觉导致任务失败。</p>
			</div>
		</div>
		<div class="blog-sidebar">
			<h3 class="page-header">以往版本</h3>
			<ul class="product-categories color"><li class="cat-item cat-item-42"><a href="#">彩虹六号</a> </li>
				<li class="cat-item cat-item-60"><a href="#">彩虹六号—鹰眼行动</a></li>
				<li class="cat-item cat-item-63"><a href="#">彩虹六号2—雷霆战将</a></li>
				<li class="cat-item cat-item-54"><a href="#">彩虹六号2—城市行动</a> </li>
				<li class="cat-item cat-item-55"><a href="#">彩虹六号2—隐秘行动</a> </li>
				<li class="cat-item cat-item-64"><a href="#">彩虹六号2—黑棘</a> </li>
				<li class="cat-item cat-item-61"><a href="#">彩虹六号3—盾牌行动</a> </li>

				<li class="cat-item cat-item-56"><a href="#">彩虹六号3-雅典娜之剑</a> </li>
				<li class="cat-item cat-item-57"><a href="#">彩虹六号3-钢铁之怒</a> </li>
				<li class="cat-item cat-item-58"><a href="#">彩虹六号—禁锢法则</a> </li>
				<li class="cat-item cat-item-62"><a href="#">彩虹六号：维加斯</a> </li>
				<li class="cat-item cat-item-41"><a href="#">彩虹六号：维加斯2</a> </li>
				<li class="cat-item cat-item-41"><a href="#">彩虹六号：暗影先锋(IPHONE版)</a> </li>
				<li class="cat-item cat-item-41"><a href="#">彩虹六号：围攻</a> </li>
			 </ul>
			<nav class="cl-effect-3" style="color: #0b0b0b"><a href="http://www.ubisoft.com.cn/games?game=2:r6" style="color: #0b0b0b">前往彩虹六号官网</a></nav>
		</div>
		<div class="clearfix"></div>
		
	</div>
</div>
</body>
</html>