<!DOCTYPE HTML>
<html>
<head>
	<title>Link ACG---GAME </title>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<script src="js/jquery-1.11.0.min.js"></script>
<link href="css/style.css" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="header">
	<div class="container">
		<span class="menu"></span>
		<div class="navigation">
			<ul class="navig cl-effect-3" >
				<li><a href="index.html">游戏主页</a></li>
				<li><a href="games.html">游戏公司</a></li>
				<li><a href="blog.html">游戏主机</a></li>
				<li><a href="features.html">著名游戏</a></li>
			</ul>
			<div class="search-bar">
					<input type="text" placeholder="search" required=""  value="search"/>
					<input type="submit" value="" />
			</div>
			<script>
				$( "span.menu" ).click(function() {
				  $( ".navigation" ).slideToggle( "slow", function() {
				    // Animation complete.
				  });
				});
			</script>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- Header Ends Here -->	
<!-- Games Page Starts here -->
<div class="games">
	<div class="container">
		<div class="page-path">
			<ul class="path-list">
				<li><a href="index.html">主页</a></li>&nbsp;&nbsp;/&nbsp;&nbsp;
				<li class="act">游戏主机</li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<h3 class="page-header">
			次时代游戏主机
		</h3>
		<div class="blog-content">
			<div class="blog-post">
				<h3><a href="single.html">PlayStation 4</a></h3>
				<div class="post-details">
					<p>PlayStation 4是索尼电脑娱乐公司推出的家用游戏机，是PlayStation游戏机系列的第四代游戏主机。</p>
				</div>
				<img src="images/blog1.jpg" alt="">
				<h4>PlayStation 4属于第八世代的游戏机，作为PS3的后续机种，并将与任天堂的Wii U和微软的Xbox One共同在市场上竞争。</h4>
				<p>PlayStation 4采用以AMD为基础的x86-64架构处理器，与使用CELL架构的PlayStation®3不同。更换处理器架构的目的是让游戏开发的过程变得更容易，以吸引更多不同的开发者加入。这样的变更是来自于索尼在PlayStation 3的开发、制造和发售过程中所学习到的经验。PlayStation 4其他重要的硬件特征包括内建8 GB的GDDR5整合式内存、更快速的蓝光光驱，以及专门用来处理音频、影像，以及其它背景服务的定制处理芯片。
					在新的应用和服务方面，索尼在智能手机和平板电脑上推出专属应用程序PlayStation App，让这些装置成为第二屏幕以加强游戏体验。索尼也计划推出云游戏串流服务“PlayStation Now”（原GaiKai），将可下载内容与游戏储存于云服务器中。此外，新的控制器上增加了“分享”按钮，将让使用者可以观看其他人游玩过程的串流直播与截图及录制视频。</p>
				<!--<nav class="cl-effect-3"><a href="single.html">More</a></nav>-->
			</div>
			<div class="blog-post">
				<h3><a href="single.html">XBOX ONE X</a></h3>
				<div class="post-details">
					<p>XBOX ONE，是微软发售的家用游戏机。是Xbox 360的下一代机种。</p>
				</div>
				<img src="images/blog2.jpg" alt="">
				<h4>有史以来机能最强大的主机</h4>
				<p>GPU部分不弱于980按照最保守的6t GPU单精度来计算也是介于1060和1070之间，架构依旧不是vega，是改良的Polaris。不管是索尼还是微软，这代主机的流片都是tsmc负责生产，AMD只提供定制方案，同样的硬件规格，tsmc的16nm finfeet漏电率更低，且按照AMD自己的测试在峰值性能时tsmc的功率比gf低很多。</p>
				<!--<nav class="cl-effect-3"><a href="single.html">More</a></nav>-->
			</div>
			<div class="blog-post">
				<h3><a href="single.html">NINTENDO SWITCH</a></h3>
				<div class="post-details">
					<p>任天堂游戏公司于2017年3月首发的旗舰产品，主机采用家用机掌机一体化设计。</p>
				</div>
				<img src="images/blog3.gif" alt="">
				<h4>NS首秀获得强烈反响，预告片YouTube首日播放量超一千万回，一度登顶YouTube播放榜首，风头压过美国大选</h4>
				<p>“Switch”的英文字面解释为开关和切换，显然后者更应该是任天堂这台全新主机所想要诠释的定义。 其最大 NintendoSwitch家用机+掌机形态切换 的特征就是同时具备携带和家用两种特性，同时又针对手柄控制器进行模块化设计的全新形态游戏主机。家用机和携带掌机一直是支撑任天堂经营业绩的两大支柱，NS等同于将该社过去的两条产品线合而为一。对任天堂来说，以后不再有主机和掌机两条产品线,对于开发者来说可以摆脱双线奋战的困扰，更加专注的开发游戏。主机和掌机的身份可以随时无缝切换（Switch），这正是任天堂为NS所下的定义</p>
				<!--<nav class="cl-effect-3"><a href="single.html">More</a></nav>-->
			</div>
		</div>

</div>
</body>
</html>