<!DOCTYPE HTML>
<html>
<head>
    <title>Link ACG---GAME </title>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<script src="js/jquery-1.11.0.min.js"></script>
<link href="css/style.css" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Google Fonts -->
<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
</head>
<body>
<!-- Header Starts Here -->
<div class="header">
	<div class="container">
		<span class="menu"></span>
		<div class="navigation">
			<ul class="navig cl-effect-3" >
				<li><a href="index.html">游戏主页</a></li>
				<li><a href="games.html">游戏公司</a></li>
				<li><a href="blog.html">游戏主机</a></li>
				<li><a href="features.html">著名游戏</a></li>
			</ul>
			<div class="search-bar">
					<input type="text" placeholder="search" required=""  value="search"/>
					<input type="submit" value="" />
			</div>
			<script>
				$( "span.menu" ).click(function() {
				  $( ".navigation" ).slideToggle( "slow", function() {
				    // Animation complete.
				  });
				});
			</script>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- Header Ends Here -->	
<!-- Games Page Starts here -->
<div class="games">
	<div class="container">
		<div class="page-path">
			<ul class="path-list">
				<li><a href="index.html">主页</a></li>&nbsp;&nbsp;/&nbsp;&nbsp;
				<li class="act">著名游戏</li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<h3 class="page-header">
            著名游戏
		</h3>
		<div class="main">
                <div class="view view-first">
                    <img src="images/7.jpg" style="width: 100%;height: 100%"/>
                    <div class="mask">
                        <h2>魔兽世界</h2>
                        <p>由著名游戏公司暴雪娱乐所制作的第一款网络游戏，属于大型多人在线角色扮演游戏。</p>
                        <a href="../game/game/wow.html" class="info">GO</a>
                    </div>
                </div>
            <div class="view view-first">
                <img src="images/13.jpg" style="width: 100%;height: 100%"/>
                <div class="mask">
                    <h2>EVE</h2>
                    <p>以宏大的太空为背景，高度融合硬科幻元素，为玩家展现了一个极其自由的虚拟宇宙沙盒世界。</p>
                    <a href="../game/game/EVE.html" class="info">GO</a>
                </div>
            </div>

                <div class="view view-first">
                    <img src="images/9.jpg" style="width: 100%;height: 100%"/>
                    <div class="mask">
                        <h2>彩虹六号</h2>
                        <p>育碧（Ubi）旗下的知名系列射击模拟游戏，拥有数代相应作品，其所属平台包括主机和手机客户端。</p>
                        <a href="../game/game/RainbowSix.html" class="info">GO</a>
                    </div>
                </div>  
                <div class="view view-first">
                    <img src="images/10.jpg" style="width: 100%;height: 100%"/>
                    <div class="mask">
                        <h2>守望先锋</h2>
                        <p>由暴雪娱乐公司开发的一款第一人称射击游戏，于2016年5月24日全球上市。</p>
                        <!--<a href="single.html" class="info">GO</a>-->
                    </div>
                </div> 
                <div class="view view-first">
                    <img src="images/12.jpg" style="width: 100%;height: 100%"/>
                    <div class="mask">
                        <h2>堡垒之夜</h2>
                        <p>一款百人PvP与PVE竞技射击游戏。</p>
                        <!--<a href="single.html" class="info">GO</a>-->
                    </div>
                </div>
            <div class="view view-first">
                <img src="images/8.jpg" style="width: 100%;height: 100%"/>
                <div class="mask">
                    <h2>英雄联盟</h2>
                    <p>由美国拳头游戏(Riot Games)开发的英雄对战MOBA竞技网游。</p>
                    <!--<a href="single.html" class="info">GO</a>-->
                </div>
            </div>
            <div class="view view-first">
                    <img src="images/14.jpg" style="width: 100%;height: 100%"/>
                    <div class="mask">
                        <h2>GTA V</h2>
                        <p>由Rockstar Games游戏公司出版发行的一款围绕犯罪为主题的开放式动作冒险游戏。</p>
                        <!--<a href="single.html" class="info">GO</a>-->
                    </div>
                </div> 
                <div class="view view-first">
                    <img src="images/15.jpg" style="width: 100%;height: 100%"/>
                    <div class="mask">
                        <h2>我的世界</h2>
                        <p>一款风靡全球的高自由度沙盒游戏，由瑞典Mojang AB和4J Studios开发。</p>
                        <!--<a href="single.html" class="info">GO</a>-->
                    </div>
                </div>  
                <div class="view view-first">
                    <img src="images/16.jpg" style="width: 100%;height: 100%"/>
                    <div class="mask">
                        <h2>最终幻想</h2>
                        <p>由史克威尔艾尼克斯开发制作的动作角色扮演类游戏。</p>
                        <!--<a href="single.html" class="info">GO</a>-->
                    </div>
                </div>
			<div class="view view-first">
				<img src="images/timg.jpg" style="width: 100%;height: 100%"/>
				<div class="mask">
					<h2>更多</h2>
					<p>将会收入更多的游戏公司</p>
				</div>
			</div>
		</div>
          <div class="side-bar">
          	<h4>more</h4>
          	<ul class="game-list">
          		<li><a href="games.html">StarCraft</a></li>
          		<li><a href="games.html">Diablo</a></li>
          		<li><a href="games.html">Assassin's Creed</a></li>
          		<li><a href="games.html">Watch Dogs</a></li>
          		<li><a href="games.html">Heroes of Might & Magic</a></li>
          		<li><a href="games.html">The Elder Scrolls V：Skyrim</a></li>
          		<li><a href="games.html">DOTA2</a></li>
          		<li><a href="games.html">Mount & Blade II: Bannerlord</a></li>
          	</ul>
          </div>
          <div class="clearfix"></div>
	</div>
</div>

</body>
</html>