<!DOCTYPE HTML>
<html>
<head>
    <title>Link ACG---GAME </title>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<script src="js/jquery-1.11.0.min.js"></script>
<link href="css/style.css" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Google Fonts -->
<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
</head>
<body>
<!-- Header Starts Here -->
<div class="header">
	<div class="container">
		<span class="menu"></span>
		<div class="navigation">
			<ul class="navig cl-effect-3" >
				<li><a href="index.html">游戏主页</a></li>
				<li><a href="games.html">游戏公司</a></li>
				<li><a href="blog.html">游戏主机</a></li>
				<li><a href="features.html">著名游戏</a></li>
			</ul>
			<div class="search-bar">
					<input type="text" placeholder="search" required=""  value="search"/>
					<input type="submit" value="" />
			</div>
			<script>
				$( "span.menu" ).click(function() {
				  $( ".navigation" ).slideToggle( "slow", function() {
				    // Animation complete.
				  });
				});
			</script>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- Header Ends Here -->	
<!-- Games Page Starts here -->
<div class="games">
	<div class="container">
		<div class="page-path">
			<ul class="path-list">
				<li><a href="index.html">主页</a></li>&nbsp;&nbsp;/&nbsp;&nbsp;
				<li class="act">游戏公司</li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<h3 class="page-header">
			游戏公司
		</h3>
		<div class="main">
                <div class="view view-first">
                    <img src="images/pic5.jpg" style="width: 100%;height: 100%"/>
                    <div class="mask">
                        <h2>任天堂</h2>
                        <p>全球知名的娱乐厂商，电子游戏业三巨头之一，现代电子游戏产业的开创者</p>
                        <a href="../game/company/nintendo.html" class="info">GO</a>
                    </div>
                </div>  
                <div class="view view-first">
                    <img src="images/pic1.jpg" style="width: 100%;height: 100%"/>
                    <div class="mask">
                        <h2>暴雪娱乐</h2>
                        <p>一家著名视频游戏制作和发行公司，在电脑游戏界享有高评价。</p>
                        <a href="../game/company/blizzard.html" class="info">GO</a>
                    </div>
                </div>  
                <div class="view view-first">
                    <img src="images/pic3.jpg" style="width: 100%;height: 100%"/>
                    <div class="mask">
                        <h2>育碧娱乐</h2>
                        <p>一家跨国的游戏制作、发行和代销商，是多媒体工业的佼佼者。</p>
                        <a href="single.html" class="info">GO</a>
                    </div>
                </div>  
                <div class="view view-first">
                    <img src="images/pic2.jpg" style="width: 100%;height: 100%"/>
                    <div class="mask">
                        <h2>EA</h2>
                        <p>全球著名的互动娱乐软件公司，主要经营各种电子游戏的开发、出版以及销售业务</p>
                        <!--<a href="single.html" class="info">GO</a>-->
                    </div>
                </div> 
                <div class="view view-first">
                    <img src="images/pic4.jpg" style="width: 100%;height: 100%"/>
                    <div class="mask">
                        <h2>动视</h2>
                        <p>目前世界上最大的第三方视频游戏（Video Game）开发商和发行商。</p>
                        <!--<a href="single.html" class="info">GO</a>-->
                    </div>
                </div>  
                <div class="view view-first">
                    <img src="images/6.jpg" style="width: 100%;height: 100%"/>
                    <div class="mask">
                        <h2>Rockstar Games</h2>
                        <p>游戏发行商Take-Two Interactive旗下的游戏开发分公司，以《侠盗猎车手》系列最为知名。</p>
                        <!--<a href="single.html" class="info">GO</a>-->
                    </div>
                </div>  
                <div class="view view-first">
                    <img src="images/2.jpg" style="width: 100%;height: 100%"/>
                    <div class="mask">
                        <h2>顽皮狗</h2>
                        <p>一家全球知名的电子游戏开发工作室，现为索尼公司旗下全资子公司，隶属于索尼全球工作室。</p>
                        <!--<a href="single.html" class="info">GO</a>-->
                    </div>
                </div> 
                <div class="view view-first">
                    <img src="images/1.jpg" style="width: 100%;height: 100%"/>
                    <div class="mask">
                        <h2>KONAMI</h2>
                        <p>日本最具影响力的游戏软件商之一，自1969年创办至今已经有40余年的历史，可以说是业界的老字号了。</p>
                        <!--<a href="single.html" class="info">GO</a>-->
                    </div>
                </div>  
                <div class="view view-first">
                    <img src="images/4.jpg" style="width: 100%;height: 100%"/>
                    <div class="mask">
                        <h2>CAPCOM</h2>
                        <p>以制作动作游戏闻名世界，被业内称为“动作天尊”。</p>
                        <!--<a href="single.html" class="info">GO</a>-->
                    </div>
                </div>
			<div class="view view-first">
				<img src="images/timg.jpg" style="width: 100%;height: 100%"/>
				<div class="mask">
					<h2>更多</h2>
					<p>将会收入更多的游戏公司</p>
				</div>
			</div>
		</div>
          <div class="side-bar">
          	<h4>more</h4>
          	<ul class="game-list">
          		<li><a href="games.html">2K Games</a></li>
          		<li><a href="games.html">EPIC-GAMES</a></li>
          		<li><a href="games.html">riot games</a></li>
          		<li><a href="games.html">Namco</a></li>
          		<li><a href="games.html">KOEI TECMO</a></li>
          		<li><a href="games.html">CD Projekt RED</a></li>
          		<li><a href="games.html">Valve Software</a></li>
          		<li><a href="games.html">Bungie</a></li>
          	</ul>

          </div>
          <div class="clearfix"></div>
	</div>
</div>

</body>
</html>