<!DOCTYPE HTML>
<html lang="en">
<head>
<title>Link ACG---GAME </title>
	<meta data-vue-meta="true" http-equive="Content-Type" content="text/html" charset="utf-8">
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<script src="js/jquery-1.11.0.min.js"></script>
<link href="css/style.css" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="header">
	<div class="container">
		<span class="menu"></span>
		<div class="navigation">
			<ul class="navig cl-effect-4" >
				<li><a href="index.html">游戏主页</a></li>
				<li><a href="games.html">游戏公司</a></li>
				<li><a href="blog.html">游戏主机</a></li>
				<li><a href="features.html">著名游戏</a></li>
			</ul>
			<div class="search-bar">
					<input type="text" placeholder="输入你想知道的内容" required=""  value="search"/>
					<input type="submit" value="" />
			</div>
			<script>
                $( "span.menu" ).click(function() {
                    $( ".navigation" ).slideToggle( "slow", function() {
                        // Animation complete.
                    });
                });
			</script>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<div class="banner"></div>
<div class="banner-bot">
	<div class="container">
		<h2>你好!</h2>
		<p>这里有许多关于游戏的发展历史与资讯，欢迎你浏览我的网页。希望你能找到你想要的东西。</p>
		<p></p>
		<nav class="cl-effect-3"><a href="../../index.html">返回上一页</a></nav>
	</div>
</div>

<div class="gallery">
	<div class="container">
		<h3>著名游戏开发公司</h3>
		<div class="gallery-top">
					<div id="portfoliolist">
					<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper">		
							<a href="index.html" class="b-link-stripe b-animate-go  thickbox">
						     <img src="images/pic1.jpg" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "> </h2>
						  		</div></a>
		                </div>
					</div>				
					<div class="portfolio icon mix_all" data-cat="icon" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper">		
							<a href="index.html" class="b-link-stripe b-animate-go  thickbox">
						     <img src="images/pic2.jpg" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "> </h2>
						  	 </div></a>
		                </div>
					</div>		

					<div class="portfolio logos mix_all" data-cat="logo" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper">		
							<a href="index.html" class="b-link-stripe b-animate-go  thickbox">
						     <img src="images/pic4.jpg" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "> </h2>
						  	 </div></a>
		                </div>
					</div>	
					<div class="portfolio card mix_all" data-cat="card" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper">		
							<a href="index.html" class="b-link-stripe b-animate-go  thickbox">
						     <img src="images/pic5.jpg" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "> </h2>
						  	 </div></a>
		                </div>
					</div>			
				</div>
			<div class="portfolio card mix_all" data-cat="card" style="display: inline-block; opacity: 1;margin-top: 30px;">
				<div class="portfolio-wrapper">
					<a href="index.html" class="b-link-stripe b-animate-go  thickbox">
						<img src="images/pic3.jpg" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "> </h2>
					</div></a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="video-serch">
	<div class="container">
		<div class="col-md-6 vid-col">
			<p>通过一个视频来了解一下游戏的发展</p>
			<p>这是由游久网制作的电子游戏的诞生史，介绍了从电子游戏的诞生发展与世代主机以来的电子游戏发展。以及一部暴雪娱乐发展史的视频。</p>
			<div class="more">
				<a href="https://www.bilibili.com/video/av251894">前往观看暴雪娱乐发展史</a>
			</div>
		</div> 
		<div class="col-md-6 vid-coll">
			<img src="images/vid-img.jpg" alt="">
			<div class="play-but">
				<a href="#small-dialog5" class="thickbox play-icon popup-with-zoom-anim"><img src="images/vid-play.png" alt="" /></a>
			</div>
					  <script type="text/javascript" src="js/modernizr.custom.53451.js"></script>  
					<link href="css/popuo-box.css" rel="stylesheet" type="text/css" media="all"/>
					<script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
			<div id="small-dialog5" class="mfp-hide">
				<iframe src="https://player.bilibili.com/player.html?aid=306381&cid=482922&page=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>
				</div>
				 <script>
						$(document).ready(function() {
						$('.popup-with-zoom-anim').magnificPopup({
							type: 'inline',
							fixedContentPos: false,
							fixedBgPos: true,
							overflowY: 'auto',
							closeBtnInside: true,
							preloader: false,
							midClick: true,
							removalDelay: 300,
							mainClass: 'my-mfp-zoom-in'
						});
																						
						});
				</script>
		</div>
		<div class="clearfix"></div>
	</div>	
</div>
<div class="what-new">
	<div class="container">
		<h3>游戏新闻</h3>
		<div class="blog-news">
			<div class="blog-news-grid">
				<div class="news-grid-left">
					<h4>20</h4>
					<small> 2018 4月</small>
				</div>
				<div class="news-grid-right">
					<h4>战神4正式发售</h4>
					<p>《战神4（原名：God of War）》是一款动作类电子游戏，是索尼旗下《战神》系列的第4作。新作确认世界观为北欧神话，算是半重启的故事线，但主角仍然是奎托斯，他将带领他的儿子阿特柔斯一起冒险。游戏将于2018年4月20号发售。 </p>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="blog-news-grid b_n_g">
				<div class="news-grid-left">
					<h4>13</h4>
					<small>2018 4月</small>
				</div>
				<div class="news-grid-right">
					<h4>《彩虹六号：围攻》玩家总数突破3000万大关</h4>
                    <p>育碧宣布《彩虹六号：围攻》全平台注册玩家总数现已突破3000万！自2015年发售以来，《彩虹六号：围攻》已经成了现今最成功的多人射击游戏之一，从“奇美拉行动”发布到大量额外内容的常规更新，《彩虹六号：围攻》在其第三年的运营中不断地自我进化。</p>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="blog-news b_n">
			<div class="blog-news-grid">
				<div class="news-grid-left">
					<h4>19</h4>
					<small>2018 4月</small>
				</div>
				<div class="news-grid-right">
					<h4> SNK宣布推出NEOGEO复古主机</h4>
					<p>为纪念公司成立40周年，SNK宣布推出NEOGEO复古主机，将收录多款SNK经典游戏，官方将于近期公布详细信息。 </p>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="blog-news-grid b_n_g">
				<div class="news-grid-left">
					<h4>17</h4>
					<small>2018 4月</small>
				</div>
				<div class="news-grid-right">
					<h4>Konami 公布恶魔城新作</h4>
					<p>科纳美公布了新的恶魔城系列新作，介绍下来貌是最大支持4人共同战斗的动作类游戏，玩家可以一起挑战强大的BOSS也有4v4的互相PK的模式。 </p>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<script type="text/javascript" src="js/jquery.mixitup.min.js"></script>
</body>
</html>