<!DOCTYPE HTML>
<html>
<head>
	<title>Link ACG---GAME ---Blizzard</title>
<link href="../css/bootstrap.css" rel='stylesheet' type='text/css' />
<script src="../js/jquery-1.11.0.min.js"></script>
<link href="../css/style.css" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="header">
	<div class="container">
		<span class="menu"></span>
		<div class="navigation">
			<ul class="navig cl-effect-3" >
				<li><a href="../index.html">游戏主页</a></li>
				<li><a href="../games.html">游戏公司</a></li>
				<li><a href="../blog.html">游戏主机</a></li>
				<li><a href="../features.html">著名游戏</a></li>
			</ul>
			<div class="search-bar">
					<input type="text" placeholder="search" required=""  value="search"/>
					<input type="submit" value="" />
			</div>
			<script>
				$( "span.menu" ).click(function() {
				  $( ".navigation" ).slideToggle( "slow", function() {
				  });
				});
			</script>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<div class="games">
	<div class="container">
		<div class="page-path">
			<ul class="path-list">
				<li><a href="../index.html">主页</a></li>&nbsp;&nbsp;/&nbsp;&nbsp;
				<li class="act">公司</li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="blog-content">
			<h3 class="page-header">Blizzard Entertainment</h3>
			<div class="about-top">

				<div class="about-details">
					<h4>一家著名视频游戏制作和发行公司</h4>
					<p>暴雪公司推出过多款经典系列作品：魔兽争霸、星际争霸、暗黑破坏神系列，守望先锋，炉石传说，魔兽世界。魔兽争霸及星际争霸均被多项著名电子竞技比赛列为主要比赛项目，在电脑游戏界享有高评价。</p>
					<p>	2008年7月9日，动视暴雪正式并入维旺迪，是包含暴雪娱乐品牌名称的控股公司。2013年7月，动视暴雪从母公司维旺迪手中买回大部分股权，成为一个独立的公司。</p>
					<p>	暴雪娱乐现为美国电子游戏发行商动视暴雪的独立部门公司，实际两者在研发过程都是独立操作。</p>
					<a href="https://www.battlenet.com.cn/zh/">前往官网</a>
				</div>
				<div class="clearfix"></div>
			</div>
			<h3 class="page-header">创立背景</h3>
			<p>暴雪娱乐在早年就被收购，经过多次转手后被整体并入雪乐山在线（后更名为雪乐山娱乐），而雪乐山的背后就是维旺迪集团。维旺迪在2004年重组旗下的游戏业务，成立子公司维旺迪游戏，维旺迪游戏由雪乐山和暴雪娱乐等多个部门组成。</p>
			<p>随着动视与维旺迪游戏的合并，维旺迪游戏旗下的雪乐山和暴雪娱乐等部门被整体合并入动视公司。但是，这对暴雪娱乐的整体运行并没有太大的影响。因为对暴雪来说，它只是又换了一个东家而已，只不过这次的新东家是业界著名的美国游戏发行商巨头动视公司。</p>
			<h3 class="page-header">管理体制</h3>
			<p>在全球游戏圈，不知道暴雪创业者经历的人相当多，一个重要的原因是，暴雪始终不愿借助媒体炒作自己。1998年，艾伦·阿德汗辞去了总裁一职，改任公司的董事会主席，由迈克·莫怀米接任总裁。从一线退居二线，作为一名顾问，艾伦·阿德汗希望自己能有足够的时间，重新回到游戏设计中来。颇为滑稽的是，艾伦·阿德汗辞职的消息没有在玩家当中产生任何反响，更没有降低玩家对暴雪的良好印象，一个很简单的原因是，在暴雪员工之外，没有人真正知道艾伦·阿德汗是谁，他是干什么的。“我们热爱游戏设计工作，但是我们需要把焦点凝聚在游戏产品上！”从游戏开发过程中获得的快乐，足以让暴雪创业者避开外界的任何诱惑，这种献身于事业的激情使他们默默耕耘，甚至在很大程度上与外部世界的联系都保持封闭状态。在暴雪，从老板到员工都保持低调，公司的大门也很少向外界敞开，暴雪人的全部精力只专注于自己的事业。这一点，与国内一些公司知名老板的大名而不知其产品的怪现象，正好形成了鲜明的对照。</p>
			<p>1.不爱玩游戏的不要，其用意在于引导每一个雇员深入了解游戏</p>
			<p>2.只有对事业达到了偏执狂的程度，才能有忘我的工作精神。</p>
		</div>
		<div class="blog-sidebar">
			<h3 class="page-header">旗下游戏</h3>
			<div class="fetures">
				<img src="../images/7.jpg" alt="">
				<div class="caption">
					<a href="https://www.wowchina.com/zh-cn/">Play Now</a>
				</div>
			</div>
			<div class="fetures">
				<img src="../images/17.jpg" alt="">
				<div class="caption">
					<a href="http://d3.blizzard.cn/home">Play Now</a>
				</div>
			</div>
			<div class="fetures">
				<img src="../images/18.jpg" alt="">
				<div class="caption">
					<a href="http://sc2.blizzard.cn/home">Play Now</a>
				</div>
			</div>
			<div class="fetures">
				<img src="../images/10.jpg" alt="">
				<div class="caption">
					<a href="http://ow.blizzard.cn/home">Play Now</a>
				</div>
			</div>
			<div class="fetures">
				<img src="../images/1.png" alt="">
				<div class="caption">
					<a href="http://heroes.blizzard.cn/home">Play Now</a>
				</div>
			</div>
			<div class="fetures">
				<img src="../images/19.jpg" alt="">
				<div class="caption">
					<a href="http://hs.blizzard.cn/home">Play Now</a>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>

</body>
</html>
