<!DOCTYPE HTML>
<html>
<head>
	<title>Link ACG---GAME ---Nintendo</title>
<link href="../css/bootstrap.css" rel='stylesheet' type='text/css' />
<script src="../js/jquery-1.11.0.min.js"></script>
<link href="../css/style.css" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="header">
	<div class="container">
		<span class="menu"></span>
		<div class="navigation">
			<ul class="navig cl-effect-3" >
				<li><a href="../index.html">游戏主页</a></li>
				<li><a href="../games.html">游戏公司</a></li>
				<li><a href="../blog.html">游戏主机</a></li>
				<li><a href="../features.html">著名游戏</a></li>
			</ul>
			<div class="search-bar">
					<input type="text" placeholder="search" required=""  value="search"/>
					<input type="submit" value="" />
			</div>
			<script>
				$( "span.menu" ).click(function() {
				  $( ".navigation" ).slideToggle( "slow", function() {
				  });
				});
			</script>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<div class="games">
	<div class="container">
		<div class="page-path">
			<ul class="path-list">
				<li><a href="../index.html">主页</a></li>&nbsp;&nbsp;/&nbsp;&nbsp;
				<li class="act">公司</li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="blog-content">
			<h3 class="page-header">Nintendo Co., Ltd.</h3>
			<div class="about-top">

				<div class="about-details">
					<h4>一家全球知名的娱乐厂商，电子游戏业三巨头之一，现代电子游戏产业的开创者。</h4>
					<p>任天堂开发了游戏史上最热销游戏系列超级马里奥和精灵宝可梦，以及全球媒体综合评价最高的塞尔达传说系列。2007年，任天堂的市值排在日本第二位。 任天堂DS累积销量接近1.5亿台。2009全球最佳企业40强排行榜，任天堂排名全球第一。任天堂在全球游戏业中始终坚持反对暴力和色情，并以开发优秀的全年龄游戏为已任,保持着弥足珍贵的社会责任和企业操守。2016年4月27日，任天堂通过官方推特确认开发代号为NX的次世代全新概念的游戏主机将于2017年3月发售。任天堂的股票在单天交易量突破了47600亿日元（约450亿美元）。Nintendo Switch近日首度亮相，集电视游戏与掌上游戏“双机一体”,已于2017年3月发售，业内人士估计年度销量将超千万台。</p>
					<a href="https://www.nintendo.com/">前往官网</a>
				</div>
				<div class="clearfix"></div>
			</div>
			<h3 class="page-header">WiiU、3DS（2DS）时期</h3>
			<p>2013年任天堂官网上挂出了生产终了的字样，这标志着Wii正式跟大家说再见了。Wii于2006年12月初上市开卖。任天堂此举的意图也非常简单，那就是全力去推新一代游戏机Wii U。</br>
				任天堂在2010年3月23日公布的游戏机“Nintendo 3DS”</br>
				新机型的名称为“Nintendo 3DS”（简称3DS），中文全称：
				任天堂三维立体双屏便携式多媒体掌上娱乐互动系统</br>
				E3 2010上，之前谣传已久的任天堂新掌机3DS正式跟玩家见面了</br>
				任天堂在随后的“2010任天堂秋季发布会”上正式公布了该主机售价与发售日</br>
				3DS于2011年2月26日在日本发售</br>
				Wii U游戏手柄2011年1月8日～1月10日举办了3DS体验会“Nintendo World 2011”，并公布了N3DS首发阵容，包含任天狗+猫、战国无双、实感赛车等等。数日后在欧美个有一场发表会，公布了欧洲、北美地区的发售日、信息和价格。2011年2月26日N3DS正式在日本发售，售价为25,000日圆（含税）。</br>
				2011年6月8日在E3 2011上的发表会公开了任天堂新一代的家用机Wii U，其主机特色依旧是游戏手柄：WiiU的手柄内嵌一个6.2英寸的触摸屏，而且可以将主机画面直接传输到手柄的屏幕中。</br>
				2011年7月28日任天堂社长岩田聪宣布3DS从2011年8月11日开始，为了更进一步拓展3DS的游戏人口和阵容、以及对年末商战的策略，售价将从25,000日圆（含税）降到15,000日圆（含税），并对在这之前购买的用户提供了10款FC、10款GBA共20款游戏作为补偿以感谢用户支持。但3DS发售不到半年，一次就降价了1万日圆，此举也引发众多玩家们的不满。</br>
				2011年9月13日任天堂举办了“Nintendo3DSConference 2011”，发表3DS将在2011年10月20日推出主打女性市场的颜色版本“迷濛粉红（ミスティピンク，Misty Pink）”，其发表会上也公开了相当多的游戏作品和实际画面、信息，包含马里奥系列、火焰之纹章系列、铁拳系列、最终幻想系列、动物之森系列、初音未来系列、SD钢弹系列、三国无双系列等等，众多第三方和本家丰富阵容引起了玩家们的热烈讨论。其中又以日本热门游戏怪物猎人系列的新作怪物猎人3G及怪物猎人4引起了话题性。</br>
				2012年6月3日，任天堂推出了Wii U GamePad，是一台手持式的游戏机控制器（即手柄），Wii U采用6.2英寸854×480像素的屏幕，立体声扬声器，麦克风，前置摄像头，并配有NFC读卡器和电视机遥控器功能，至此Wii已经开始由单纯的游戏机演化成不同类型的产品。这种设备拥有硬件加速和3轴陀螺仪，能和Wii一样直观地运动控制游戏，即使不接触游戏机也可轻松控制游戏。该机支持在线社交网络，允许玩家创建Mii头像，并显示玩家的兴趣爱好，该机带有手写笔，可以发送简单的文本以及手写信息。Wii U GamePad包含黑白两色。</br>
				任天堂于2012年6月22日举办的“Nintendo Direct 2012.6.22”网络发表会上公布了3DS的大尺寸版本机型“任天堂3DS LL”（日本以外地区称为“3DS XL”），最大特色为双屏幕尺寸从既有3DS的3.53 吋/3.02吋，加大为4.88 吋/4.18吋、以及增加少许的续航力，分辨率和功能上则无任何差异。任天堂3DS LL/XL将会与3DS并行发售，用户可以自行决定购买何种版本。该机型2012年7月28日于日本和欧洲推出、北美地区则在2012年9月18日推出，2012年9月20日于韩国推出。</br>
				2013年8月28日，任天堂宣布推出Nintendo 2DS，这款掌机计划于2013年10月12日在北美地区上市，售价129.99美元。</p>
			<h3 class="page-header">任天堂Switch时代</h3>
			<p>2015年3月17日，任天堂与DeNA联合召开记者发布会，宣布两家公司将进行战略资本提携，通过换股，任天
				堂将持有DeNA10%的股份。双方会共同开发并运营活用任天堂的角色以及任天堂的知识产权推出面向智能设备的游戏应用，并且推出全新一体的会员服务。岩田聪于会上确认正在开发新的主机,代号为NX。</br>
				2014年3月，任天堂在位于日本京都的新办公大楼完工。 新大楼位于原总部大楼附近，采用相似风格，地下一层地上七层，被命名为“任天堂本社开发中心”（Nintendo Co., Ltd. Development Center）。聘请了日本著名建筑设计事务所“日本设计”为新大楼出谋划策。后院还建有高尔夫球场，历时五年多耗资165亿日元（约合人民币9.8亿元）。超过1500人都将搬入新大楼统一办公。任天堂
				将重组开发团队整合公司资源，再次改变游戏业书写新历史。</br>
				Nintendo Switch近日首度亮相，集电视游戏与掌上游戏“双机一体”，17年三月发售， 业内人士估计年度销量将超千万台。任天堂全新游戏机Switch是已故前社长岩田聪生前主导的最后代表作。新机首度公开亮相，其左右摇杆也可各自成为独立的控制器，让玩家与伙伴可以一起对战。 </p>
		</div>
		<div class="blog-sidebar">
			<h3 class="page-header">旗下游戏</h3>
			<div class="fetures">
				<img src="../images/20.jpg" alt="">
				<div class="caption">
					<!--<a href="https://www.wowchina.com/zh-cn/">Play Now</a>-->
				</div>
			</div>
			<div class="fetures">
				<img src="../images/21.jpg" alt="">
				<div class="caption">
					<!--<a href="http://d3.blizzard.cn/home">Play Now</a>-->
				</div>
			</div>
			<div class="fetures">
				<img src="../images/22.jpg" alt="">
				<div class="caption">
					<!--<a href="http://sc2.blizzard.cn/home">Play Now</a>-->
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>

</body>
</html>
